@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0.5rem;
  font-family: 'Roboto',sans-serif;
  text-align: center;
}
nav{
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
}
h2{
  padding:1rem;
  background: gold;
  border-radius: 2rem 2rem 0rem 0rem;
}
ul{
  list-style-type: none;
  
}
li{
  border-top: 1px solid #333;
}

 :is(li a,li a:visited){
  text-decoration: none;
  color: black;
}
a{
  display: block;
}
li a:hover,li a:focus{
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}
li:last-child a{
  border-radius: 0rem 0rem 2rem 2rem;
}